<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spider-Verse</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    {{>header}}
    <main>
      <div class="hero-img">
        <h1>Unleash Your Creative Potential</h1>
        <p>Ignite your imagination and transform ideas into reality</p>
        <a href="#signup" class="cta-button">Start Creating Now</a>
      </div>
      <section class="about">
        <div class="content">
          <h2>About</h2>
          <br>
          <p>
            At Creativity and New Technology, we are passionate about exploring
            the intersection of creativity and cutting-edge technology. Our
            mission is to inspire and empower individuals to unleash their
            creative potential using the latest tools and innovations.
          </p>
          <br>
          <p>
            Through our platform, you will discover a diverse range of
            resources, tutorials, and insights to fuel your imagination and stay
            ahead of the curve in the world of creativity and technology.
            Whether you're an artist, designer, writer, or entrepreneur, we
            provide a supportive community where you can connect with
            like-minded individuals and collaborate on groundbreaking projects.
          </p>
        </div>
        <div class="abt-img">
          <img src="/images/abt-img.png" alt="About">
        </div>
      </section>
    </main>
  {{>footer}}
  </body>
</html>
