<footer>
  <h3>Join our Innovation Community</h3>
  <p>
    Be part of a community that embraces innovation and pushes the boundaries of
    what's possible. Connect with like-minded individuals, collaborate on
    projects, and stay ahead of the curve in the world of creativity and
    technology.
  </p>
  <div class="foot">
    <input type="text" name="thoughts" placeholder="Share your thoughts....." />
    <a href="#signup" class="footer-button">Join Now</a>
  </div>
</footer>