<header>
  <nav>
    <img src="/images/avatar.png" alt="profile_pic" />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">{{signIn}}</a></li>
    </ul>
  </nav>
</header>